[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-table = "*"
"flask-ldap3-login" = "*"
flask-login = "*"
pendulum = "*"
tabulate = "*"
wtforms = "*"

[dev-packages]

[requires]
python_version = "3.6"
